body, html{
    margin: 0;
    padding: 0;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img{
    width: 50px;
    height: 50px;
}

footer{
    background-color: rgb(145, 145, 145);
    width: 100%;
    text-align: center;

}

th, td{
    font-size: 1.8vw;
    border: black solid 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(172, 172, 172);
}

table{
    background-color: cornflowerblue;
    align-items: center;
    border-collapse: collapse;
    width: 85%;
}

.index{
    position:relative;
}

.ajout{
    
}

.ajout input{
    width: 100%;
}

form{
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description{
    width: 250px;
    height: 150px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    padding: 5px;
    color: black;
}

li:hover{
    color: white;
}

a:link{ 
 text-decoration:none; 
}

div{
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin: 150px;
}


.add{
    margin-bottom: 20px;
    border-radius: 0;
    border: black solid 1px;
    height: 5vw;
    width: 15vw;
    margin-left: 77%;
    font-size: 1.5vw;


}

h3{
    font-size: 2.5vw;
}

.des{
    padding: 0 20% 0 20%;
}

p{
    text-align: left;
    font-size: 2vh;
}

h2{
    font-size: 15px;
}

h1{
    font-size: 4vw;
}

.retour{
    margin-left: 200px;
}

.ajout, .retour, .edit, .index, .des{
    margin: 0 0 auto 0;
    display: flex;
    flex-direction: column;
}

.ajout, .edit{
    margin-top: 50px;
}

@media (max-width: 1000px){
    .add{
        margin-top: 150px;
    }
}